<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Metadatos -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../static/img/logo.png">
  <!-- Titulo de la pagina en la pestaña -->
  <title>EventQRXpress | Anfitrión</title>
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <!-- Estilos CSS -->
  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/css/menuUsuario.css">
  <link rel="stylesheet" href="../static/css/anfitrion.css">
  <link rel="stylesheet" href="../static/css/footerUsuario.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <!-- Menu Lateral -->
  <nav class="menuLateral">

    <!-- Seccion para el logo del usuario -->
    <div class="detalles_usuario">
      <div class="datos_usuario">
        <i class='bx bxs-user-circle'></i>
        <p class="nombre">{{ current_user.nombre }}</p>
        <!-- Boton para ir a CONFIGURACION DEL PERFIL -->
        <a href="#configuracion" class="configuracion">
          <p class="configuracion">Configurar Perfil</p>
        </a>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>

    <!-- Contenido del menu -->
    <ul class="navBar">
      <!-- Boton para ir a INICIO -->
      <li class="seleccion">
        <a href="#inicio">
          <i class='bx bxs-home'></i>
          <span class="nombre_link">Inicio</span>
        </a>
      </li>
      <!-- Boton para ir a CREAR EVENTO -->
      <li>
        <a href="#crear">
          <i class='bx bxs-calendar-event'></i>
          <span class="nombre_link">Crear Evento</span>
        </a>
      </li>
      <!-- Boton para ir a EVENTOS -->
      <li>
        <a href="#eventos">
          <i class='bx bx-history'></i>
          <span class="nombre_link">Eventos</span>
        </a>
      </li>
      <!-- Boton para ir a CERRAR SESION -->
      <li class="logout fondo">
        <a href="{{url_for('logout')}}">
          <i class='bx bx-log-out'></i>
          <span class="nombre_link">Cerrar Sesión</span>
        </a>
      </li>
    </ul>

  </nav>

  <!-- Contenido de la pagina -->
  <main class="contenido">

    <!-- Seccion INICIO de la pagina -->
    <section class="inicio" id="inicio">
      <h1>Bienvenido <span>Anfitrión</span></h1>
      <img src="../static/img/inicioAnfitrion.svg" alt="Imagen de inicio de anfitrion">
    </section>

    <!-- Seccion CREAR EVENTO de la pagina -->
    <section class="crear" id="crear">
      <h1>Crear Evento</h1>
      <div class="numeroPaso" id="numeroPaso">
        <a id="anterior" onclick="anteriorPaso()"><i class='bx bx-left-arrow-alt'></i></a>
        <h2>Paso 1/3</h2>
        <a id="siguiente" onclick="siguientePaso()"><i class='bx bx-right-arrow-alt'></i></a>
      </div>

      <!-- Formulario Paso #1 - Datos generales del evento -->
      <form action="" class="formulario_crear paso" id="paso1">
        <!-- Titulo del formulario -->
        <h3>Datos generales del evento</h3>
        <!-- Campo para el nombre del evento -->
        <div class="campo-formulario">
          <div class="nombre-campo">
            <i class='bx bxs-calendar-event'></i>
            <span>Nombre del eveto:</span>
          </div>
          <div class="input-campo">
            <input type="text" name="nombreEvento" id="nombreEvento" autocomplete="off" value=""
              onchange="actualizarInvitacion()">
            <!-- <small>Error</small> -->
          </div>
        </div>
        <!-- Campo para la fecha del evento -->
        <div class="campo-formulario">
          <div class="nombre-campo">
            <i class='bx bx-calendar'></i>
            <span>Fecha:</span>
          </div>
          <div class="input-campo">
            <input type="date" name="fecha" id="fecha" autocomplete="off" value="" onchange="actualizarInvitacion()">
            <!-- <small>Error</small> -->
          </div>
        </div>
        <!-- Campo para la hora de inicio  -->
        <div class="campo-formulario">
          <div class="nombre-campo">
            <i class='bx bxs-watch'></i>
            <span>Hora de inicio:</span>
          </div>
          <div class="input-campo">
            <input type="time" name="horaInicio" id="horaInicio" autocomplete="off" value=""
              onchange="actualizarInvitacion()">
            <!-- <small>Error</small> -->
          </div>
        </div>
        <!-- Campo para la hora de termino -->
        <div class="campo-formulario">
          <div class="nombre-campo">
            <i class='bx bxs-watch bx-flip-horizontal'></i>
            <span>Hora de termino:</span>
          </div>
          <div class="input-campo">
            <input type="time" name="horaFin" id="horaFin" autocomplete="off" value=""
              onchange="actualizarInvitacion()">
            <!-- <small>Error</small> -->
          </div>
        </div>
        <!-- Campo para el numero de asistentes -->
        <div class="campo-formulario">
          <div class="nombre-campo">
            <i class='bx bx-male-female'></i>
            <span>Número estimado de asistentes:</span>
          </div>
          <div class="input-campo">
            <input type="number" name="numeroAsistentes" id="numeroAsistentes" autocomplete="off" value=""
              onchange="selecciones(); actualizarInvitacion()">
            <!-- <small>Error</small> -->
          </div>
        </div>
        <!-- Campo para el tipo de evento -->
        <div class="campo-formulario">
          <div class="nombre-campo">
            <i class='bx bxs-balloon'></i>
            <span>Tipo de evento:</span>
          </div>
          <div class="input-campo">
            <select name="tipoEvento" id="tipoEvento" autocomplete="off" value="" onchange="actualizarInvitacion()">
              <option value="">Seleccionar una opción</option>
              <option value="XV Años">XV Años</option>
              <option value="Boda">Boda</option>
              <option value="Graducación">Graduacion</option>
            </select>
            <!-- <small>Error</small> -->
          </div>
        </div>
        <!-- Campo para el lugar del evento -->
        <div class="campo-formulario">
          <div class="nombre-campo">
            <i class='bx bxs-map'></i>
            <span>Lugar del eveto:</span>
          </div>
          <div class="input-campo">
            <select name="lugarEvento" id="lugarEvento" autocomplete="off" value="" onchange="actualizarInvitacion()">
              <option value="">Seleccionar una opción</option>
              <!-- <option value="salon1">Salon 1</option>
              <option value="salon2">Salon 2</option>
              <option value="salon3">Salon 3</option>
              <option value="salon4">Salon 4</option> -->
            </select>
            <!-- <small>Error</small> -->
          </div>
        </div>
        <!-- Botones del formulario -->
        <div class="botones_formulario">
          <a href="#" class="no" onclick="preguntaCancelarRegistroEvento(); return false;">
            <button>Cancelar</button>
          </a>
          <a href="#" class="yes" onclick="siguientePaso(); return false;">
            <button>Guardar</button>
          </a>
        </div>
      </form>

      <!-- Formulario Paso #2 - Seleccione el diseño de invitacion que mas le guste -->
      <form action="" class="formulario_crear paso" id="paso2">
        <!-- Titulo del formulario -->
        <h3>Seleccione el diseño de invitación que mas le guste</h3>
        <!-- Campo para las invitaciones -->
        <div class="campo-formulario-invitaciones">
          <!-- Imagen de invitacion #1 -->
          <div class="imagen-container">
            <input type="radio" name="contenido" id="opcion1" value="opcion1" onchange="cargarContenido(value)">
            <label for="opcion1">
              <img src="../static/img/invitacion01.webp" alt="Invitacion 01">
            </label>
          </div>
          <!-- Imagen de invitacion #2 -->
          <div class="imagen-container special-image">
            <input type="radio" name="contenido" id="opcion2" value="opcion2" onchange="cargarContenido(value)">
            <label for="opcion2">
              <img src="../static/img/invitacion02.webp" alt="Invitacion 02">
            </label>
          </div>
          <!-- Imagen de invitacion #3 -->
          <div class="imagen-container">
            <input type="radio" name="contenido" id="opcion3" value="opcion3" onchange="cargarContenido(value)">
            <label for="opcion3">
              <img src="../static/img/invitacion03.webp" alt="Invitacion 03">
            </label>
          </div>
        </div>

        <!-- Botones del formulario -->
        <div class="botones_formulario">
          <a href="#" class="no" onclick="preguntaCancelarRegistroEvento(); return false;">
            <button>Cancelar</button>
          </a>
          <a href="#" class="yes" onclick="siguientePaso(); return false;">
            <button>Guardar</button>
          </a>
        </div>
      </form>

      <!-- Formulario Paso #3 - Confirmar datos del evento -->
      <form action="/registrarEvento" method="post" class="formulario_crear paso" id="paso3"
        onsubmit="eventoCreado(event, '{{id}}', '{{idEvento}}')">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <!-- Titulo del formulario -->
        <h3>Confirme los datos de su evento</h3>
        <!-- Campo para el nombre del evento -->
        <div class="valores_evento">
          <div class="contenedor_valores">
            <!-- Campo para NOMBRE DEL EVENTO -->
            <p class="valor">
              <i class='bx bxs-calendar-event'></i>
              <span class="nombre_valor">Nombre del evento: </span>
              <span class="texto_valor" id="valor_nombreEvento"></span>
              <input type="hidden" id="input_nombre" name="nombre">
            </p>
            <!-- Campo para FECHA -->
            <p class="valor">
              <i class='bx bx-calendar'></i>
              <span class="nombre_valor">Fecha: </span>
              <span class="texto_valor" id="valor_fecha"></span>
              <input type="hidden" id="input_fecha" name="fecha">
            </p>
            <!-- Campo para HORARIO -->
            <p class="valor">
              <i class='bx bxs-watch'></i>
              <span class="nombre_valor">Horario: </span>
              <span class="texto_valor" id="valor_horario"></span>
              <input type="hidden" id="input_horario" name="horario">
            </p>
            <!-- Campo para NUMERO DE ASISTENTES -->
            <p class="valor">
              <i class='bx bx-male-female'></i>
              <span class="nombre_valor">Número estimado de asistentes: </span>
              <span class="texto_valor" id="valor_numeroAsistentes"></span>
              <input type="hidden" id="input_asistentes" name="asistentes">
            </p>
            <!-- Campo para TIPO DE EVENTO -->
            <p class="valor">
              <i class='bx bxs-balloon'></i>
              <span class="nombre_valor">Tipo de evento: </span>
              <span class="texto_valor" id="valor_tipoEvento"></span>
              <input type="hidden" id="input_tipo" name="tipo">
            </p>
            <!-- Campo para LUGAR DEL EVENTO -->
            <p class="valor">
              <i class='bx bxs-map'></i>
              <span class="nombre_valor">Lugar del evento: </span>
              <span class="texto_valor" id="valor_lugarEvento"></span>
              <input type="hidden" id="input_lugar" name="lugar">
              <input type="hidden" id="input_ciudad" name="ciudad">
            </p>
          </div>
          <div id="contenedor_invitacion" class="contenedor_invitacion">
          </div>
        </div>
        <!-- Botones del formulario -->
        <div class="botones_formulario">
          <a href="#" class="no" onclick="preguntaCancelarRegistroEvento(); return false;">
            <button>Cancelar</button>
          </a>
          <!-- <a href="#" class="yes" onclick="siguientePaso(); return false;"> -->
          <button class="btn-a" type="submit">Confirmar</button>
          <!-- </a> -->
        </div>
      </form>
    </section>

    <!-- Seccion HISTORIAL DE EVENTOS de la pagina -->
    <section class="eventos" id="eventos">
      <h1>Historial de Eventos</span></h1>
      <div class="campo-historial-eventos">
        {% for imagen in imagenes %}
        <a href="#gestionar" class="contenedor_imagen">
          <img src="{{ ruta }}" alt="{{ imagen['alt'] }}" onclick="cambiarImagen(this); obtenerDatosEvento(this)">
          <!-- <p>{{ imagen['nombre_evento'] }}</p> -->
        </a>
        {% endfor %}
      </div>
    </section>

    <!-- Seccion GESTIONAR EVENTO de la pagina -->
    <section class="gestionar" id="gestionar">
      <!-- Titulo de la seccion -->
      <h1>Gestionar Evento</h1>
      <!-- Contenedor de resumen del evento -->
      <div class="valores_evento">
        <div class="contenedor_invitacion" id="contenedorInvitacion">
          <img src="../static/img/invitacion01.webp" alt="">
        </div>
        <div class="contenedor_valores">
          <!-- Campo para NOMBRE DEL EVENTO -->
          <p class="valor">
            <i class='bx bxs-calendar-event'></i>
            <span class="nombre_valor">Nombre del evento:</span>
            <span class="texto_valor" id="datos_nombre">nombreEvento</span>
          </p>
          <!-- Campo para FECHA -->
          <p class="valor">
            <i class='bx bx-calendar'></i>
            <span class="nombre_valor">Fecha:</span>
            <span class="texto_valor" id="datos_fecha">DD / MM / AAAA</span>
          </p>
          <!-- Campo para HORARIO -->
          <p class="valor">
            <i class='bx bxs-watch'></i>
            <span class="nombre_valor">"Horario:"</span>
            <span class="texto_valor" id="datos_horario">HH:MM x.m.</span>
          </p>
          <!-- Campo para NUMERO DE ASISTENTES -->
          <p class="valor">
            <i class='bx bx-male-female'></i>
            <span class="nombre_valor">Número estimado de asistentes:</span>
            <span class="texto_valor" id="datos_asistentes">###</span>
          </p>
          <!-- Campo para TIPO DE EVENTO -->
          <p class="valor">
            <i class='bx bxs-balloon'></i>
            <span class="nombre_valor">Tipo de evento:</span>
            <span class="texto_valor" id="datos_tipo">(XV años / Boda / Reunión)</span>
          </p>
          <!-- Campo para LUGAR DEL EVENTO -->
          <p class="valor">
            <i class='bx bxs-map'></i>
            <span class="nombre_valor">Lugar del evento:</span>
            <span class="texto_valor" id="datos_lugar">Salon de eventos NOMBRE <small><br>Nombre de la calle, Numero
                Colonia/Distrito/Region, Ciudad.</small></span>
          </p>
          <!-- Campo para LINK DE INVITACION -->
          <p class="valor link">
            <i class='bx bx-link-alt'></i>
            <span class="nombre_valor">Link de invitación:</span>
            <span class="texto_valor" id="link_invitacion">https://eventqrxpress.com/ABC123/</span>
            <button class="copiar" onclick="copiarTexto()"><i class='bx bx-copy'></i></button>
          </p>
        </div>
      </div>
      <!-- Contenedor de las tablas -->
      <div class="contenedor_tablas">
        <!-- Tabla #1 -->
        <div class="contenedor_tabla">
          <table class="tabla1">
            <!-- Titulo tabla -->
            <tr class="titulo_tabla">
              <th colspan="9">Registro de Confirmaciones</th>
            </tr>
            <!-- Subtitulos tabla -->
            <tr class="subtitulos_tabla">
              <!-- <th>No. Invitado</th> -->
              <th>Nombre</th>
              <th>Correo</th>
              <!-- <th>Confirmación</th> -->
              <th>No. de Asistentes</th>
              <!-- <th>Rol</th> -->
              <th colspan="3">Acciones</th>
            </tr>
            {% if confirmaciones %}
            {% for confirmacion in confirmaciones %}
            <!-- Registro Tabla 1 -->
            <tr class="valores_tabla">
              <td><span>{{confirmacion.nombre}}</span></td>
              <td><span>{{confirmacion.email}}</span></td>
              <td><span>{{confirmacion.asistentes}}</span></td>
              <input type="hidden" name="id" id="id_confirmacion" value="{{confirmacion.id}}">
              <td><button class="editar" onclick="preguntaEditarRegistroInvitado(this)">Editar <i class='bx bxs-edit-alt'></i></button></td>
              <td><button class="eliminar" onclick="preguntaEliminarRegistroInvitado()">Eliminar <i class='bx bxs-x-circle'></i></button></td>
              <td><button class="enviar" onclick="enviarLinkConfirmacion('{{confirmacion.id}}')">Enviar <i class='bx bx-send'></i></button></td>
            </tr>
            {% endfor %}
            {% endif %}
          </table>
        </div>
        <div class="boton_todos">
          <button onclick="enviarLinksConfirmacion()">Enviar a todos <i class='bx bx-send'></i></button>
        </div>
        <!-- Tabla #2 -->
        <div class="contenedor_tabla">
          <table class="tabla2">
            <div class="header_tabla">
              <!-- Titulo tabla -->
              <tr class="titulo_tabla">
                <th colspan="8">Tabla #2 - Registro de Asistentes</th>
              </tr>
              <!-- Subtitulos tabla -->
              <tr class="subtitulos_tabla">
                <th>Nombre Asistente</th>
                <th>Asiento</th>
                <th colspan="2">Acciones</th>
              </tr>
            </div>
            <!-- Registro Tabla 2 -->
            <th colspan="5"><span>Juan Perez</span></th>
            <tr class="valores_tabla">
              <td><span>Asistente 1</span></td>
              <td><span>A01</span></td>
              <td><button class="editar" onclick="preguntaEditarRegistroConfirmado(this)">Editar <i class='bx bxs-edit-alt'></i></button></td>
              <td><button class="eliminar" onclick="preguntaEliminarRegistroInvitado()">Eliminar <i class='bx bxs-x-circle'></i></button></td>
            </tr>
            <tr class="valores_tabla">
              <td><span>Asistente 2</span></td>
              <td><span>A02</span></td>
              <td><button class="editar" onclick="preguntaEditarRegistroConfirmado(this)">Editar <i class='bx bxs-edit-alt'></i></button></td>
              <td><button class="eliminar" onclick="preguntaEliminarRegistroInvitado()">Eliminar <i class='bx bxs-x-circle'></i></button></td>
            </tr>
            <tr class="valores_tabla">
              <td><span>Asistente 3</span></td>
              <td><span>A03</span></td>
              <td><button class="editar" onclick="preguntaEditarRegistroConfirmado(this)">Editar <i class='bx bxs-edit-alt'></i></button></td>
              <td><button class="eliminar" onclick="preguntaEliminarRegistroInvitado()">Eliminar <i class='bx bxs-x-circle'></i></button></td>
            </tr>
            <!-- Registro Tabla 2 -->
            <th colspan="5"><span>Carlos Jimenez</span></th>
            <tr class="valores_tabla">
              <td><span>Asistente 1</span></td>
              <td><span>A04</span></td>
              <td><button class="editar" onclick="preguntaEditarRegistroConfirmado(this)">Editar <i class='bx bxs-edit-alt'></i></button></td>
              <td><button class="eliminar" onclick="preguntaEliminarRegistroInvitado()">Eliminar <i class='bx bxs-x-circle'></i></button></td>
            </tr>
            <tr class="valores_tabla">
              <td><span>Asistente 2</span></td>
              <td><span>A05</span></td>
              <td><button class="editar" onclick="preguntaEditarRegistroConfirmado(this)">Editar <i class='bx bxs-edit-alt'></i></button></td>
              <td><button class="eliminar" onclick="preguntaEliminarRegistroInvitado()">Eliminar <i class='bx bxs-x-circle'></i></button></td>
            </tr>
            <tr class="valores_tabla">
              <td><span>Asistente 3</span></td>
              <td><span>A06</span></td>
              <td><button class="editar" onclick="preguntaEditarRegistroConfirmado(this)">Editar <i class='bx bxs-edit-alt'></i></button></td>
              <td><button class="eliminar" onclick="preguntaEliminarRegistroInvitado()">Eliminar <i class='bx bxs-x-circle'></i></button></td>
            </tr>
          </table>
        </div>
      </div>
    </section>

    <!-- Pie de la pagina -->
    <footer class="footer">
      <!-- Texto del Copyright -->
      <p class="derechos">
        <i class='bx bx-copyright'></i>Todos los derechos reservados.
      </p>
      <!-- Redes sociales -->
      <p class="redes">
        <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>
        <a href="https://outlook.office.com/" target="_blank"><i class='bx bxs-envelope'></i></a>
      </p>
    </footer>
  </main>

  <!-- Scripts -->
  <script src="../static/js/barraLateral.js"></script>
  <script src="../static/js/actualizarBarraLateral.js"></script>
  <script src="../static/js/pasosFormulario.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../static/js/seleccionarInvitacion.js"></script>
  <script src="../static/js/invitacionSeleccionada.js"></script>
  <script src="../static/js/actualizarInvitacion.js"></script>
  <script src="../static/js/alertas.js"></script>
  <script src="../static/js/gestionarEvento.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</body>

</html>