<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Metadatos -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../static/img/logo.png">
  <!-- Titulo de la pagina en la pestaña -->
  <title>EventQRXpress | Error 404</title>
  <!-- Estilos CSS -->
  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/css/headerGeneral.css">
  <link rel="stylesheet" href="../static/css/error404.css">
  <link rel="stylesheet" href="../static/css/footerGeneral.css">
  <!-- Box-Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- <script src="../static/js/landingPage.js" defer></script> -->
</head>

<body>
  <!-- Encabezado de la pagina -->
  <header>
    <nav class="navbar">
      <i class='bx bx-menu hamburger-btn'></i>
      <!-- <span class="hamburger-btn material-symbols-rounded">menu</span> -->
      <a href="#" class="logo">
        <img src="../static/img/logo.png" alt="logo">
        <h2>EventQRXpress.</h2>
      </a>
      <ul class="links">
        <!-- Boton para cerrar -->
        <i class='bx bx-x close-btn'></i>
        <!-- Links a secciones de la pagina -->
        <li><a href="./landingPage.html#inicio">Inicio</a></li>
        <li><a href="./landingPage.html#conocenos">Conócenos</a></li>
        <li><a href="./landingPage.html#servicios">Servicios</a></li>
        <li><a href="./landingPage.html#referencias">Referencias</a></li>
      </ul>
      <!-- Boton para abrir formulario de login/register -->
      <a class="login-btn" href="./login">Ingresar / Registrar</a>
    </nav>
  </header>

  <!-- Contendo de la pagina -->
  <main>
    <!-- Seccion de ERROR 404 -->
    <section class="error" id="error">
      <!-- Imagen de fondo -->
      <img class="imagen-fondo" src="../static/img/fondo04.webp" alt="Fondo 4">
      <!-- Frase de error -->
      <p class="frase">Error 404</p>
      <!-- Mensaje -->
      <p class="mensaje">
        Vaya... <br>
        No hemos encontrado la página que buscas <br><br>
        Aqui tienes algunos enlaces que pueden servirte de ayuda: <br>
      </p>
      <!-- Boton para links alternos -->
      <button class="error-btn"><a href="./landingPage.html">Inicio</a></button>
      <button class="error-btn"><a href="./formularioLoginRegister.html">Ingresar / Registrar</a></button>
    </section>


  </main>

  <!-- Pie de la pagina -->
  <footer class="footer">
    <!-- Texto del Copyright -->
    <p class="derechos">
      <i class='bx bx-copyright'></i>Todos los derechos reservados.
    </p>
    <!-- Redes sociales -->
    <p class="redes">
      <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
      <a href="https://twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>
      <a href="https://outlook.office.com/" target="_blank"><i class='bx bxs-envelope'></i></a>
    </p>
  </footer>

  <!-- Scripts -->
</body>

</html>