<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">

<head>
  <!-- Metadatos -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../static/img/logo.png">
  <!-- Titulo de la pagina en la pestaña -->
  <title>EventQRXpress </title>
  <!-- Estilos CSS -->
  <link rel="stylesheet" href="../static/css/general.css">
  <link rel="stylesheet" href="../static/css/headerGeneral.css">
  <link rel="stylesheet" href="../static/css/formularioLoginRegister.css">
  <link rel="stylesheet" href="../static/css/footerGeneral.css">
  <!-- Box-Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Scripts -->
  <script src="../static/js/formularioLoginRegistar.js" defer></script>
</head>

<body>
  <!-- Encabezado de la pagina -->
  <header>
    <nav class="navbar">
      <i class='bx bx-menu hamburger-btn'></i>
      <!-- <span class="hamburger-btn material-symbols-rounded">menu</span> -->
      <a href="./" class="logo">
        <img src="../static/img/logo.png" alt="logo">
        <h2>EventQRXpress.</h2>
      </a>
      <ul class="links">
        <!-- Boton para cerrar -->
        <i class='bx bx-x close-btn'></i>
        <!-- Links a secciones de la pagina -->
        <li><a href="./#inicio">Inicio</a></li>
        <li><a href="./#conocenos">Conócenos</a></li>
        <li><a href="./#servicios">Servicios</a></li>
        <li><a href="./#referencias">Referencias</a></li>
      </ul>
      <!-- Boton para abrir formulario de login/register -->
      <a class="login-btn" href="#" >Ingresar / Registrar</a>
    </nav>
  </header>

  <!-- Contendo de la pagina -->
  <main>

    <!-- Seccion de FORMULARIOS -->
    <section class="formularios" id="formularios">
      <!-- Imagen de fondo -->
      <img class="imagen-fondo" src="../static/img/fondo03.webp" alt="Fondo 3">

      <!-- Contenedor de los formularios -->
      <div class="contenedor_formualrios">
        <!-- Checkbox para activar y desactivar la animacion tipo libro -->
        <input type="checkbox" id="flip">
        <!-- Seleccion de imagenes para el formulario -->
        <div class="cover">
          <div class="front">
            <img src="../static/img/saoln02.webp" alt="Salon 02">
          </div>
          <div class="back">
            <img src="../static/img/saoln02.webp" alt="Salon 02">
          </div>
        </div>

        <!-- Formulario de ingresar -->
        <div class="forms">
          <div class="form-content">
            <div class="login-form">
              <!-- Titulo del formulario -->
              <div class="title">Ingresar</div>
              <!-- Formulario -->
              <form action="/login" method="post">
                {% with last_message = get_flashed_messages(with_categories=true)[-1]%}
                  {% if last_message %}
                    {% set category, messages = last_message if last_message is iterable else (None, last_message) %}
                    {% if category == 'success' %}
                      <br />
                      <div>
                        <strong style="color: rgb(5, 191, 5);">{{ messages }}</strong>
                      </div>
                    {% else %}
                      <br />
                      <div>
                        <strong style="color: #e41f1a;">{{ messages }}</strong>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endwith %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="input-boxes">
                  <!-- Campo para CORREO ELECTRONICO-->
                  <div class="input-box">
                    <div class="contenido_campo">
                      <i class='bx bxs-envelope'></i>
                      <input type="text"  name="email" placeholder="Correo electrónico" required>
                    </div>
                    <!-- <span>Error</span> -->
                  </div>
                  <!-- Campo para CONTRASEÑA -->
                  <div class="input-box">
                    <div class="contenido_campo">
                      <i class='bx bxs-lock-alt'></i>
                      <input type="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <!-- <span>Error</span> -->
                  </div>
                </div>
                <div class="contenedor_botones">
                  <!-- Boton del formulario -->
                  <button  type="submit" class="btn-form input-box">Ingresar</button>
                  <!-- Pregunta del formulario -->
                  <div class="text sign-up-text">¿Aun no tienes una cuenta? <label for="flip" id="enlaceRegistrar">Crear una</label></div>
                </div>
              </form>
            </div>

            <!-- Formulario de registro -->
            <div class="signup-form">
              <!-- Titulo del formulario -->
              <div class="title">Registrar</div>
              <!-- Formulario -->
              <form action="/registro" method="post" onsubmit="validarCorreo(event)">
                <!-- {% with messages = get_flashed_messages()[-1]%}
                  {% if messages != "El correo ingresado ya ha sido registrado" %}
                    <br />
                    <div>
                      <strong style="color: #e41f1a;">{{ messages }}</strong>
                    </div>
                  {% endif %}
                {% endwith %} -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="input-boxes">
                  <!-- Campo para NOMBRE DE USUARIO -->
                  <div class="input-box">
                    <div class="contenido_campo">
                      <i class='bx bxs-user'></i>
                      <input type="text" name="nombre" placeholder="Nombre de usuario" required>
                    </div>
                    <!-- <span>Error</span> -->
                  </div>
                  <!-- Campo para CORREO ELECTRONICO-->
                  <div class="input-box">
                    <div class="contenido_campo">
                      <i class='bx bxs-envelope'></i>
                      <input type="text" name="email" placeholder="Correo electrónico" required>
                    </div>
                    <!-- <span>Error</span> -->
                  </div>
                  <!-- Campo para TELEFONO -->
                  <div class="input-box">
                    <div class="contenido_campo">
                      <i class='bx bxs-phone'></i>
                      <input type="text" name="telefono" placeholder="Telefóno" required>
                    </div>
                    <!-- <span>Error</span> -->
                  </div>
                  <!-- Campo para CONTRASEÑA -->
                  <div class="input-box">
                    <div class="contenido_campo">
                      <i class='bx bxs-lock-alt'></i>
                      <input type="text" name="password" placeholder="Contraseña" required>
                    </div>
                    <!-- <span>Error</span> -->
                  </div>
                  <!-- Campo para CONFIRMAR CONTRASEÑA -->
                  <div class="input-box">
                    <div class="contenido_campo">
                      <i class='bx bxs-lock-alt'></i>
                      <input type="text" placeholder="Confirmar contraseña" required>
                    </div>
                    <!-- <span>Error</span> -->
                  </div>
                </div>
                <div class="contenedor_botones">
                  <!-- Boton del formulario -->
                  <button  type="submit" class="btn-form input-box">Registar</button>
                  <!-- Pregunta del formulario -->
                  <div class="text sign-up-text">¿Ya tienes una cuenta? <label for="flip" id="enlaceIngresar">Ingresa</label></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- Pie de la pagina -->
  <footer class="footer">
    <!-- Texto del Copyright -->
    <p class="derechos">
      <i class='bx bx-copyright'></i>Todos los derechos reservados.
    </p>
    <!-- Redes sociales -->
    <p class="redes">
      <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
      <a href="https://twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>
      <a href="https://outlook.office.com/" target="_blank"><i class='bx bxs-envelope'></i></a>
    </p>
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../static/js/alertas.js"></script>

</html>